@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .heading1{
     font-family: "BBH Sans Bogle", sans-serif;
     width: 60px;
     /* height: 30px; */


*{
      font-family: "Michroma", sans-serif;
}


   @keyframes fade-in {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes slide-up {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-in-out forwards;
}

.animate-slide-up {
  animation: slide-up 0.8s ease-in-out forwards;
}

/* Hide scrollbar but keep scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



/* @keyframes fade-in {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
} */
/* .animate-fade-in {
  animation: fade-in 0.8s ease-in-out forwards;
} */


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
